@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body{
	font-family: 'Poppins', sans-serif;
	background-color: #f3fff4;
}

/* Navbar Style */

.navbar{
	z-index: 3;
    padding: 0 20px 0px 20px  ;
    background-color: #048853;

}

.nav-link{
	font-size: 0.94rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: #ffff;
    text-decoration: none;
}

.nav-link:hover{
    color: #000000;
    background: #ffff;
    transition: 0.3s all linear;
}

*{
	z-index: 2;
}

.accsent-img{
	z-index: 1;
}


.navbar-brand{
	font-weight: 700;
	font-size: 20px;
}

.nav-link.active{
	font-weight:  700;
    color: black;
}

/* Footer Style */
.footer-container{
    display: flex;
    flex-direction: column;
    height: 100px;
}
footer {
    background-color: #048853;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 7px 10px grey;
}

.icons {
    padding: 10px;
    color: #fff;
}

.icons h4 {
    font-size: 1.2rem;
    font-weight: bold;
}

.icons i {
    margin: 0 5px;
    font-size: 20px;
    color: #fff;
}

/* Hero Section */
.hero-container{
    background-color: #048853;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero-content{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    color: #ffff;
    margin-left: 50px;
}

.hero-content h1{
    font-size: 3rem;
}

.hero-content button{
    width: 200px;
    font-size: 15px;
    background: #22a4cf;
    color: #ffff;
    border: #ffff 3px solid;
    border-radius: 5px;
    padding: 12px 20px;
    margin-top: 10px;
}

.hero-image img{
    width: 600px;
    height: 600px;
}

/* About Section */
.about-container{
    max-width: 960px;
    margin: auto;
    width: 100%;
    line-height: 2rem;
    color: #000000;
}

.about-container span{
    color: #048853;
}

.about-content-row-1{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.about-content-row-1 p, .about-content-row-2 p{
    color: #000000;
}
.about-content-row-2{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-container img{
    width: 250px;
}

/* Article Section */
.card{
    display: flex;
    
}